{{- $hostName := .chezmoi.hostname -}}
{{- $name := promptString "What's your name" -}}
{{- $personal := promptBool "Is this a personal device" -}}
{{- $email := promptString "What's your email" -}}

[data]
  name = "{{ $name }}"
  email = "{{ $email }}"
  personal = {{ $personal }}
  hostName = "${{ $hostName }}"

[hooks.apply]
  command = "sh ./{{ .chezmoi.homeDir }}/install.sh"