# Homebrew Taps
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/services"

# Command Line Tools (Alphabetically ordered).
brew "awscli"
brew "awk"
brew "bat" # Syntax highlighting in terminal
brew "bitwarden-cli"
brew "fzf" # Fuzzy find
brew "gh"
brew "git"
brew "glow" # Render markdown in terminal
brew "http-server"
brew "jq"                # JSON processing
brew "nnn" # Terminal file explorer
brew "python@3.11"
brew "pinentry-mac" #GUI for Yubikey pin entry
brew "speedtest-cli"
brew "starship"          # Shell prompt
brew "terraform"
brew "terraform-docs"
brew "tflint"            # Terraform linter
brew "tfsec"             # Terraform security scanner
brew "tree" # Preview file tree in terminal
brew "volta"
brew "wget"
brew "zsh-autocomplete"
brew "zsh-autosuggestions"
brew "zsh-fast-syntax-highlighting"
brew "spicetify/homebrew-tap/spicetify-cli"

# Shared Desktop Applications (Casks)
cask "docker"
cask "firefox"
cask "google-chrome"
cask "gpg-suite"
cask "hyper"
cask "raycast"
cask "slack"
cask "spotify"
cask "visual-studio-code"

# Mac App Store Applications
mas "Bitwarden", id: 1352778147
mas "WhatsApp Messenger", id: 310633997

# Visual Studio Code Extensions
vscode "GitHub.copilot"
vscode "github.vscode-github-actions"
vscode "GitHub.vscode-pull-request-github"
vscode "dbaeumer.vscode-eslint"
vscode "eamodio.gitlens"
vscode "eseom.nunjucks-template"
vscode "jamiemaguire.pie-design-system-vscode-prototype"
vscode "ms-playwright.playwright"
vscode "unem.lit-plugin"
vscode "yoavbls.pretty-ts-errors"
vscode "artlaman.chalice-icon-theme"
vscode "raunofreiberg.vesper"
vscode "drcika.apc-extension"
vscode "esbenp.prettier-vscode"

{{- if eq .personal true }}
# Personal apps
cask "arduino-ide"
cask "balenaetcher"
cask "cleanmymac-zh"
cask "discord"
cask "mullvadvpn"
cask "vlc"
{{- end }}